:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #030637;
  --color-secondary: #3C0753;
  --color-dark: #720455;
  --color-bg: #910A67;

  /* Fonts */
  --font-roboto: "Roboto";
}


